<div class="modal fade" id="annotateModal" tabindex="-1" role="dialog" aria-labelledby="annotateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="annotateModalLabel">Annotate Image</h5>
        <button type="button" class="close" id= "close_modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class= "form-body">
        <div class="modal-body">
          <%= render partial: 'annotated_images/annotate_form' %>
        </div>
      </div>
    </div>
  </div>
